<!DOCTYPE html>
<html lang="en" ng-app="formApp">

<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="jstest.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
</head>

<body>
    <div id="mainContent">
        <p>Welcome! please select the toggle below to toggle between disabled and active states</p>
    </div>
    <br />
    <div align="center">
        <form novalidate class="css-form" ng-controller="MyFormController">
            Fistname:
            <input type="text" ng-disabled="formOptions.DisableForm" ng-model="formData.firstname" />
            <br /> Lastname:
            <input type="email" ng-disabled="formOptions.DisableForm" ng-model="formData.lastname" />
            <br /> Phone-Number:
            <input type="text" ng-disabled="formOptions.DisableForm" ng-model="formData.phonenumber" />
            <br /> E-mail:
            <input type="email" ng-disabled="formOptions.DisableForm" ng-model="formData.email" />
            <br />
            <button ng-click="toggleDisableForm()"> Click me to make text readonly </button>
            <br/>
        </form>
    </div>
</body>
<script>
'use strict';

var formApp = angular.module('formApp', []);

formApp.controller('MyFormController', ['$scope', function($scope) {
    $scope.formData = {
        'firstname': 'steve',
        'lastname': 'kessler',
        'phonenumber': '123-4567',
        'email': 'stvnksslr@gmail.com'
    };
    $scope.formOptions = {
        disableForm: true
    };
}]);

formApp.controller('FormToggleController', ['$scope', function($scope) {

    $scope.toggleDisableForm = function() {
        $scope.formOptions.DisableForm = (!$scope.formOptions.DisableForm);
    };
}]);

formApp.directive('formToggle', [function() {
    return {
        scope: true,
        controller: 'FormToggleController',
        template: '<button ng-click="toggleDisableForm()"> foo </button>',
    };
}]);
</script>

</html>
