<!DOCTYPE html>
<html lang="en" ng-app="formApp">

<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="jstest.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="jstest.js"></script>
</head>

<body>
    <div id="mainContent">
        <p>Welcome! please select the toggle below to toggle between disabled and active states</p>
    </div>
    <br />
    <div align="center">
        <form novalidate class="css-form" ng-controller="MyFormController">
            Fistname:
            <input type="text" ng-disabled="formOptions.disableForm" ng-model="formData.firstname" />
            <br /> Lastname:
            <input type="text" ng-disabled="formOptions.disableForm" ng-model="formData.lastname" />
            <br /> Phone-Number:
            <input type="text" ng-disabled="formOptions.disableForm" ng-model="formData.phonenumber" />
            <br /> E-mail:
            <input type="email" ng-disabled="formOptions.disableForm" ng-model="formData.email" />
            <br />
            <button ng-show="showSubmit">Submit!</button>
            <form-toggle></form-toggle>
            <br/>
        </form>

    </div>
</body>

</html>
